
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Solid Miami Design & Development</title>
    <meta name="description" content="Creating solutions for those who need custom digital tools, apps, websites, content, and everything in between">
    <link rel="stylesheet" href="https://use.typekit.net/ygd3pji.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="components/header.js" type="text/javascript" defer></script> -->
    <!-- <script src="components/footer.js" type="text/javascript" defer></script> -->
</head>
