<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>
    <%- include('includes/header') %>

    <main id="main" class="page-404" role="main">
        <h1 class="h2 title-404">404: Not Found</h1>
    </main>

    <%- include('includes/footer') %>
</body>

</html>