<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>
    <%- include('includes/header') %>

    <main id="main" class="hosting-success" role="main">
        <h1 class="h2 hosting-success-title">Thanks for hosting with us!</h1>
    </main>

    <%- include('includes/footer') %>
</body>

</html>