<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>
    <%- include('includes/header') %>
    <!-- <site-header></site-header> -->

    <main id="main" class="hosting-main" role="main">

        <article class="hosting-plans">

            <header class="hosting-header">
                <hgroup>
                    <h1 class="h1-primary hosting-header-title">Hosting & More</h1>
                    <h2 class="h4 hosting-header-subtitle">Professional website management for all levels</h2>
                </hgroup>
            </header>

            <section class="hosting-box">
                <div class="hosting-plan">
                    <h2 class="h2 hosting-plan-title">Solid</h2>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Wordpress Website Hosting</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                1 vCPU, 25GB SSD Storage, 1GB Dedicated RAM, 1TB Bandwidth, and 10 International Data Centers.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">IPv6</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                The latest and fastest Internet technology.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Dedicated IP</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                For security, SEO, and reliability, your website has its own IP address.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Nightly Backups</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                Automated incremental backups with nearly instant restores.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Web Application Firewall</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                Stop malicious traffic before it ever reaches your site with our hosted WAF.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Self-Healing Architecture</h3>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">SSL certificate</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                Automatically added via Let's Encrypt.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Staging</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                With one-click sync to staging and sync to live.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature hosting-plan-description">
                        <p class="hosting-plan-description-text">
                            <i>Get started.</i>
                            <br>
                            Fast and reliable website hosting for basic websites.
                        </p>
                        <form class="hosting-plan-form" action="/create-checkout-session" method="POST">
                            <input type="hidden" id="basicPrice" name="priceId" value="price_1JCqvEB0YQhp2SkFZ8wnzP77">
                            <button class="button button-black">Solid Plan</button>
                        </form>
                        <p class="h6-regular hosting-amount">$20 /month</p>
                    </div>
                </div>

                <div class="vertical-divider"></div>

                <div class="hosting-plan">
                    <h2 class="h2 hosting-plan-title">Super Solid</h2>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Access to Our Tools</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                Powerful Wordpress plugins designed to boost website performance on a variety of factors.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Smush Pro</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                User’s choice, award-winning, and benchmark tested. The best image optimizer plugin for WordPress.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Hummingbird Pro</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                Everything you need to get your site running super fast.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Defender Pro</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                Regular security scans, vulnerability reports, safety recommendations and security tweaks for WordPress.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">SmartCrawl Pro</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                Boost your PageRank and drive more traffic to your site with little effort and simple configuration.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">A Real Human Being</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                The only way to ensure your website is running smoothly is to have a human operator periodically review it for themselves. Our checkups are exactly that: one of our developers will review your website once a month and perform the following tasks...
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Monthly Wordpress plugin, theme, and core file updates</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                Our developers will test and update each of these items to keep your site up-to-date. This reduces the chance of errors or security issues that may arise from outdated software.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Operations Verification</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                After updates, we’ll go through your website, as would one of your visitors, and make sure everything looks good.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title">Basic Repairs</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                If we spot something isn’t working properly on your site, we’ll do a quick fix right away.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature">
                        <div class="hosting-feature-top">
                            <div class="dot"></div>
                            <h3 class="h6-regular hosting-feature-title"> Error Reporting</h3>
                        </div>
                        <div class="hosting-feature-bottom">
                            <span class="dot dot-none"></span>
                            <p class="hosting-feature-description">
                                For issues that require longer term repairs, we’ll notify you as soon as possible with our recommended solutions.
                            </p>
                        </div>
                    </div>

                    <div class="hosting-feature hosting-plan-description">
                        <p class="hosting-plan-description-text">
                            <i>Prevention is the best medicine.</i>
                            <br>
                            Websites have a lot of moving parts and the Internet is constantly evolving. This is the best way to stay on top of issues before they become more costly problems.
                        </p>
                        <form class="hosting-plan-form" action="/create-checkout-session" method="POST">
                            <input type="hidden" id="proPrice" name="priceId" value="price_1JCqvpB0YQhp2SkFlVHkwJQW">
                            <button class="button button-black">Super Solid Plan</button>
                        </form>
                        <p class="h6-regular hosting-amount">$100 /month</p>
                    </div>
                </div>
            </section>
        
        </article>

        <!-- <article class="hosting-plans">
            <header class="hosting-header">
                <hgroup>
                    <h1 class="h1-primary hosting-header-title">Hosting & More</h1>
                    <h2 class="h4 hosting-header-subtitle">Professional website management for all levels</h2>
                </hgroup>
            </header>

            <section class="matrix">
                <div class="col-1 matrix-header"></div>
                <div class="col-2 matrix-header">
                    <h2 class="h2 matrix-header-title">Solid</h2>
                </div>
                <div class="col-3 matrix-header">
                    <h2 class="h2 matrix-header-title">Super Solid</h2>
                </div>

                <div class="col-1 matrix-section-start">
                    <h2 class="h6-bold">Website Hosting</h2>
                </div>
                <div class="col-2 matrix-section-start"></div>
                <div class="col-3 matrix-section-start"></div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Wordpress Website Hosting</h3>
                    <p class="matrix-feature-description">
                        1 vCPU, 25GB SSD Storage, 1GB Dedicated RAM, 1TB Bandwidth, and 10 International Data Centers.
                    </p>
                </div>
                <div class="col-2 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">IPv6</h3>
                    <p class="matrix-feature-description">
                        The latest and fastest Internet technology.</p>
                </div>
                <div class="col-2 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Dedicated IP</h3>
                    <p class="matrix-feature-description">
                        For security, SEO, and reliability, your website has its own IP address.</p>
                </div>
                <div class="col-2 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Nightly Backups</h3>
                    <p class="matrix-feature-description">
                        Automated incremental backups with nearly instant restores.
                    </p>
                </div>
                <div class="col-2 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Web Application Firewall</h3>
                    <p class="matrix-feature-description">
                        Stop malicious traffic before it ever reaches your site with our hosted WAF.
                    </p>
                </div>
                <div class="col-2 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Self-Healing Architecture</h3>
                    <p class="matrix-feature-description">
                        Automatically added via Let's Encrypt.
                    </p>
                </div>
                <div class="col-2 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">SSL certificate</h3>
                    <p class="matrix-feature-description">
                        With one-click sync to staging and sync to live.
                    </p>
                </div>
                <div class="col-2 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Staging </h3>
                    <p class="matrix-feature-description">Feature description, porem ipsum dolor sit amet, consectetur
                        adipiscing eli</p>
                </div>
                <div class="col-2 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-section-end">
                    <hr class="matrix-separator">
                </div>
                <div class="col-2 matrix-section-end"></div>
                <div class="col-3 matrix-section-end"></div>

                <div class="col-1 matrix-section-start">
                    <h2 class="h6-bold">Premium Plugin Access</h2>
                </div>
                <div class="col-2 matrix-section-start"></div>
                <div class="col-3 matrix-section-start"></div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Access to Our Tools</h3>
                    <p class="matrix-feature-description">
                        Powerful Wordpress plugins designed to boost website performance on a variety of factors.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Smush Pro</h3>
                    <p class="matrix-feature-description">
                        User’s choice, award-winning, and benchmark tested. The best image optimizer plugin for
                        WordPress.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Hummingbird Pro</h3>
                    <p class="matrix-feature-description">
                        Everything you need to get your site running super fast.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Defender Pro</h3>
                    <p class="matrix-feature-description">
                        Regular security scans, vulnerability reports, safety recommendations and security tweaks for
                        WordPress.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">SmartCrawl Pro</h3>
                    <p class="matrix-feature-description">
                        Boost your PageRank and drive more traffic to your site with little effort and simple
                        configuration.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-section-end">
                    <hr class="matrix-separator">
                </div>
                <div class="col-2 matrix-section-end"></div>
                <div class="col-3 matrix-section-end"></div>

                <div class="col-1 matrix-section-start">
                    <h2 class="h6-bold">Dedicated Monitoring</h2>
                </div>
                <div class="col-2 matrix-section-start"></div>
                <div class="col-3 matrix-section-start"></div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">A Real Human Being</h3>
                    <p class="matrix-feature-description">
                        The only way to ensure your website is running smoothly is to have a human operator periodically
                        review it for themselves. Our checkups are exactly that: one of our developers will review your
                        website once a month and perform the following tasks...
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Monthly Wordpress plugin, theme, and core file updates
                    </h3>
                    <p class="matrix-feature-description">
                        Our developers will test and update each of these items to keep your site up-to-date. This
                        reduces the chance of errors or security issues that may arise from outdated software.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Basic Operations Verification</h3>
                    <p class="matrix-feature-description">
                        After updates, we’ll go through your website, as would one of your visitors, and make sure
                        everything looks good.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Basic Repairs</h3>
                    <p class="matrix-feature-description">
                        If we spot something isn’t working properly on your site, we’ll do a quick fix right away.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-feature">
                    <h3 class="h6-regular matrix-feature-title">Error Reporting</h3>
                    <p class="matrix-feature-description">
                        For issues that require longer term repairs, we’ll notify you as soon as possible with our
                        recommended solutions.
                    </p>
                </div>
                <div class="col-2 matrix-check"></div>
                <div class="col-3 matrix-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21">
                        <polygon
                            points="22.039 0.239 8.414 14.887 2.965 9.026 0.234 11.964 0.233 11.963 0.233 11.964 8.414 20.761 24.767 3.172 22.039 0.239"
                            fill="#111" />
                    </svg>
                </div>

                <div class="col-1 matrix-section-end"></div>
                <div class="col-2 matrix-section-end"></div>
                <div class="col-3 matrix-section-end"></div>

                <div class="col-1 matrix-button"></div>
                <div class="col-2 matrix-button">
                    <a class="button button-black" href="#" target="_blank">Solid Plan</a>
                </div>
                <div class="col-3 matrix-button">
                    <a class="button button-black" href="#" target="_blank">Super Solid Plan</a>
                </div>

                <div class="col-1 matrix-price"></div>
                <div class="col-2 matrix-price">
                    <p class="h6-regular matrix-amount">$20 /month</p>
                </div>
                <div class="col-3 matrix-price">
                    <p class="h6-regular matrix-amount">$100 /month</p>
                </div>

                <div class="col-1 matrix-plan-description"></div>
                <div class="col-2 matrix-plan-description">
                    <p class="matrix-plan-description-text"><i>Get started.</i> Fast and reliable website hosting for basic websites.</p>
                </div>
                <div class="col-3 matrix-plan-description">
                    <p class="matrix-plan-description-text"><i>Prevention is the best medicine.</i> Websites have a lot of moving parts and the Internet is constantly evolving. This is the best way to stay on top of issues before they become more costly problems.</p>
                </div>
            </section>
        </article> -->

        <article class="hosting-enterprise">
            <header class="hosting-header">
                <hgroup>
                    <h1 class="h1-primary hosting-header-title">Enterprise Management</h1>
                    <h2 class="h4 hosting-header-subtitle">Highly custom services for the most demanding web clients
                        looking for continual improvement</h2>
                </hgroup>
            </header>
            <section class="enterprise-box">
                <h2 class="h2 enterprise-box-title">Solid Enterprise</h2>
                <div class="grid-enterprise">
                    <div class="enterprise-feature">
                        <div class="dot"></div>
                        <h3 class="h6-regular enterprise-feature-title">Advanced Performance</h3>
                        <span></span>
                        <p class="enterprise-feature-description">Feature description, porem ipsum dolor sit amet,
                            consectetur adipiscing eli</p>
                    </div>
                    <div class="enterprise-feature">
                        <div class="dot"></div>
                        <h3 class="h6-regular enterprise-feature-title">Powerful WordPress SEO</h3>
                        <span></span>
                        <p class="enterprise-feature-description">Feature description, porem ipsum dolor sit amet,
                            consectetur adipiscing eli</p>
                    </div>
                    <div class="enterprise-feature">
                        <div class="dot"></div>
                        <h3 class="h6-regular enterprise-feature-title">ADA Compliance</h3>
                        <span></span>
                        <p class="enterprise-feature-description">Feature description, porem ipsum dolor sit amet,
                            consectetur adipiscing eli</p>
                    </div>
                    <div class="enterprise-feature">
                        <div class="dot"></div>
                        <h3 class="h6-regular enterprise-feature-title">Analytics Monitoring & Reports</h3>
                        <span></span>
                        <p class="enterprise-feature-description">Feature description, porem ipsum dolor sit amet,
                            consectetur adipiscing eli</p>
                    </div>
                    <div class="enterprise-feature">
                        <div class="dot"></div>
                        <h3 class="h6-regular enterprise-feature-title">Content Creation</h3>
                        <span></span>
                        <p class="enterprise-feature-description">Feature description, porem ipsum dolor sit amet,
                            consectetur adipiscing eli</p>
                    </div>
                    <div class="enterprise-feature">
                        <div class="dot"></div>
                        <h3 class="h6-regular enterprise-feature-title">Efficient Marketing</h3>
                        <span></span>
                        <p class="enterprise-feature-description">email campaigns, loyalty programs, social network
                            advertising</p>
                    </div>
                </div>
                <div class="enterprise-contact">
                    <p class="h6-regular">Contact us about a</p>
                    <a class="button button-black" href="#" target="_blank">Solid Enterprise Plan</a>
                    <p class="h6-regular">for your business</p>
                </div>
            </section>
        </article>

    </main>

    <%- include('includes/footer') %>
    <!-- <site-footer></site-footer> -->
</body>

</html>