<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>
    <%- include('includes/header') %>
    <!-- <site-header></site-header> -->

    <main id="main" class="work-main" role="main">
        <header class="work-header">
            <h1 class="h1-secondary work-title">Solid Pro Services</h1>
        </header>

        <section class="work-info">
            <!-- <h2 class="h5 work-info-title">Work Delivered</h2> -->
            <div class="work-info-grid">
                <!-- <div class="work-info-grid-col">
                    <h3 class="h6-bold work-deliverable">Branding, Vision, Voice, and Super Long Work Tag/Caterogory
                        That Might Eventually Go Here</h3>
                    <h3 class="h6-bold work-deliverable">Other Tags</h3>
                    <h3 class="h6-bold work-deliverable">More Tags Just Keep Stacking</h3>
                </div> -->
                <div class="work-info-grid-col">
                    <p>Your website is a potential client’s first encounter with your business – so you want to make a good first impression, but not waste your time with a “free” do-it-yourself website? We can have a beautiful new website up and running in less than a week. This Solid-exclusive website theme was built for businesses looking to create a beautiful, lasting, online presence that is as professional as you are!</p>
                </div>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work image">
                <img class="img-desktop" src="images/SPS_1-e_fernandez-desktop-mobile--desktop.jpg" />
                <img class="img-mobile" src="images/SPS_1-e_fernandez-desktop-mobile--mobile.jpg" />
            </div>
            <div class="col-work description">
                <p><span class="lead">Simple and effective.</span> For professional firms, large and small, who don’t want to waste their visitors’ time, our Solid Pro Services theme is designed to get to the point. No gimmicks, no generic stock photos, no fluff: it’s your brand, your services, your team, and a custom call-to-action displayed prominently on your home page.</p>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work description">
                <p><span class="lead">Start small, go big.</span> Do you have a lot of content? a multi-media blog? just a few words? No worries. Our SPS theme can grow and shrink as you need it to. You can edit your content at any time. No need for you to create so much content before you claim your virtual front desk on the Internet.</p>
            </div>
            <div class="col-work image">
                <img class="img-desktop" src="images/SPS_2-ruiz_legal-desktop-mobile--desktop.jpg" />
                <img class="img-mobile" src="images/SPS_2-ruiz_legal-desktop-mobile--mobile.jpg" />
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work image">
                <img class="img-desktop" src="images/SPS_3-cpf_legal-desktop-pantin_gov-desktop--desktop.jpg" />
                <img class="img-mobile" src="images/SPS_3-cpf_legal-desktop-pantin_gov-desktop--mobile.jpg" />
            </div>
            <div class="col-work description">
                <p><span class="lead">Flexible.</span> The SPS theme allows you to select from different layouts to display your services, team, and contact information. Try popups, multi-page, and single-page displays based on what makes sense for your business.</p>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work description">
                <p><span class="lead">Pro everywhere.</span> You’re going to look <em>good</em>. The SPS theme is designed not just to look great on mobile, desktop, and ultrawide screen web browsers, but it will make you look great across the many apps and social networks you share your website on.</p>
            </div>
            <div class="col-work image">
                <img class="img-desktop" src="images/SPS_4-cpf_legal-desktop-mobile--desktop.jpg" />
                <img class="img-mobile" src="images/SPS_4-cpf_legal-desktop-mobile--mobile.jpg" />
            </div>
        </section>
    </main>

    <%- include('includes/footer') %>
    <!-- <site-footer></site-footer> -->
</body>

</html>