<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>
    <%- include('includes/header') %>
    <!-- <site-header></site-header> -->

    <main id="main" class="work-main" role="main">
        <header class="work-header">
            <h1 class="h1-secondary work-title">Custom Websites</h1>
        </header>

        <section class="work-info">
            <!-- <h2 class="h5 work-info-title">Work Delivered</h2> -->
            <div class="work-info-grid">
                <!-- <div class="work-info-grid-col">
                    <h3 class="h6-bold work-deliverable">Branding, Vision, Voice, and Super Long Work Tag/Caterogory
                        That Might Eventually Go Here</h3>
                    <h3 class="h6-bold work-deliverable">Other Tags</h3>
                    <h3 class="h6-bold work-deliverable">More Tags Just Keep Stacking</h3>
                </div> -->
                <div class="work-info-grid-col">
                    <p>There's no limit to what we can accomplish for your new website or ecommerce shop. Solid has the people, the tools, and the expertise to build your ideas. Our fully custom web solutions will deliver exactly what you need - including complete control over your web content - and without taking time away from your core business activity.</p>
                </div>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work image">
                <img class="img-desktop" src="images/custom_1-sea_grove-desktop-momus-desktop--desktop.jpg" alt="" />
                <img class="img-mobile" src="images/custom_1-sea_grove-desktop-momus-desktop--mobile.jpg" alt="" />
            </div>
            <div class="col-work description">
                <p><span class="lead">What you need meets what you want.</span> You need a website that offers features and content that will bring value to your visitors. You want it to look good. And you want it to be unique. We've got you covered.</p>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work description">
                <p><span class="lead">Location features.</span> Connect visitors to stores, properties, and projects - from city-wide to globe-spanning regions, get as detailed or as broad as you'd like. Easily assign specific team members and specifications to one or multiple locations at a time. Create dynamic categories, tags, filters, you name it.</p>
            </div>
            <div class="col-work image">
                <img class="img-desktop" src="images/custom_2-sea_grove-desktop-mobile--desktop.jpg" alt="" />
                <img class="img-mobile" src="images/custom_2-sea_grove-desktop-mobile--mobile.jpg" alt="" />
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work image">
                <img class="img-desktop" src="images/custom_3-momus-deskop-mobile--desktop.jpg" alt="" />
                <img class="img-mobile" src="images/custom_3-momus-deskop-mobile--mobile.jpg" alt="" />
            </div>
            <div class="col-work description">
                <p><span class="lead">Member portals.</span> Exclusive features for your team, your clients, or your partners. Solid can build entirely custom pages behind secure login sites, accessible only to the networks of your choosing. Offer special content, chatting forums, member-only resources and downloads - just for you and your community.</p>
            </div>
        </section>
    </main>

    <%- include('includes/footer') %>
    <!-- <site-footer></site-footer> -->
</body>

</html>