<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solid</title>
    <link rel="stylesheet" href="https://use.typekit.net/ygd3pji.css">
    <link rel="stylesheet" href="style.css">
    <script src="components/header.js" type="text/javascript" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>
</head>

<body>
    <site-header></site-header>

    <main id="main" class="work-main" role="main">
        <header class="work-header">
            <h1 class="h1-secondary work-title">Solid Pro Services</h1>
        </header>

        <section class="work-info">
            <h2 class="h5 work-info-title">Work Delivered</h2>
            <div class="work-info-grid">
                <div class="work-info-grid-col">
                    <h3 class="h6-bold work-deliverable">Branding, Vision, Voice, and Super Long Work Tag/Caterogory
                        That Might Eventually Go Here</h3>
                    <h3 class="h6-bold work-deliverable">Other Tags</h3>
                    <h3 class="h6-bold work-deliverable">More Tags Just Keep Stacking</h3>
                </div>
                <div class="work-info-grid-col">
                    <p>General project description. In desktop, goes in this second column. For mobile, just stacks
                        under work tags section. Paragraoh could be any length.</p>
                    <p>General project description. In desktop, goes in this second column. For mobile, just stacks
                        under work tags section.</p>
                </div>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work image">
                <img class="img-desktop" src="images/SPS_1-e_fernandez-desktop-mobile--desktop.jpg" />
                <img class="img-mobile" src="images/SPS_1-e_fernandez-desktop-mobile--mobile.jpg" />
            </div>
            <div class="col-work description">
                <p><span class="lead">Simple and effective.</span> Don’t want to waste your time with a “free”,
                    do-it-yourself website? We can have you up and running in less than a week. This Solid-exclusive
                    website theme was built specifically for professionals looking to create a beautiful, lasting,
                    online presence that is as professional as you are!</p>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work description">
                <p><span class="lead">Start small, go big.</span> Do you have a lot of content? a multi-media blog? or
                    just a few words? No worries, Solid Pro Services can grow and shrink as you need it to. You can edit
                    your content at any time. This way you don’t have to worry about creating so much content before you
                    claim your virtual front desk on the Internet.</p>
            </div>
            <div class="col-work image">
                <img class="img-desktop" src="images/SPS_2-ruiz_legal-desktop-mobile--desktop.jpg" />
                <img class="img-mobile" src="images/SPS_2-ruiz_legal-desktop-mobile--mobile.jpg" />
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work image">
                <img class="img-desktop" src="images/SPS_3-cpf_legal-desktop-pantin_gov-desktop--desktop.jpg" />
                <img class="img-mobile" src="images/SPS_3-cpf_legal-desktop-pantin_gov-desktop--mobile.jpg" />
            </div>
            <div class="col-work description">
                <p><span class="lead">Flexible.</span> The SPS theme allows you to select from different layouts to
                    display your services, team, and contact information. Try popups, pages, or all-together displays
                    based on what is most effective for your company.</p>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work description">
                <p><span class="lead">Pro everywhere.</span> You’re going to look good. The SPS theme is designed not
                    just to look great on web browsers (on mobile, desktop, and ultrawide screens), but it will make you
                    look great across the many apps and social networks you share your website on.</p>
            </div>
            <div class="col-work image">
                <img class="img-desktop" src="images/SPS_4-cpf_legal-desktop-mobile--desktop.jpg" />
                <img class="img-mobile" src="images/SPS_4-cpf_legal-desktop-mobile--mobile.jpg" />
            </div>
        </section>
    </main>

    <site-footer></site-footer>
</body>

</html>