<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solid</title>
    <link rel="stylesheet" href="https://use.typekit.net/ygd3pji.css">
    <link rel="stylesheet" href="style.css">
    <script src="components/header.js" type="text/javascript" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>
</head>

<body>
    <site-header></site-header>

    <main id="main" class="work-main" role="main">
        <header class="work-header">
            <h1 class="h1-secondary work-title">Custom Websites</h1>
        </header>

        <section class="work-info">
            <h2 class="h5 work-info-title">Work Delivered</h2>
            <div class="work-info-grid">
                <div class="work-info-grid-col">
                    <h3 class="h6-bold work-deliverable">Branding, Vision, Voice, and Super Long Work Tag/Caterogory
                        That Might Eventually Go Here</h3>
                    <h3 class="h6-bold work-deliverable">Other Tags</h3>
                    <h3 class="h6-bold work-deliverable">More Tags Just Keep Stacking</h3>
                </div>
                <div class="work-info-grid-col">
                    <p>General project description. In desktop, goes in this second column. For mobile, just stacks
                        under work tags section. Paragraoh could be any length.</p>
                    <p>General project description. In desktop, goes in this second column. For mobile, just stacks
                        under work tags section.</p>
                </div>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work image">
                <img class="img-desktop" src="images/custom_1-sea_grove-desktop-momus-desktop--desktop.jpg" />
                <img class="img-mobile" src="images/custom_1-sea_grove-desktop-momus-desktop--mobile.jpg" />
            </div>
            <div class="col-work description">
                <p><span class="lead">What you need + what you want.</span> There’s no limit to what we can accomplish
                    for your new website. Solid has the people, the tools, the expertise to build your ideas exactly.
                </p>
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work description">
                <p><span class="lead">Location features.</span> Connect visitors to your stores, properties, and
                    projects – from city-wide to global-spanning regions. Get as detailed as you’d like. Easily assign
                    specific team members and specifications to one or multiple locations.</p>
            </div>
            <div class="col-work image">
                <img class="img-desktop" src="images/custom_2-sea_grove-desktop-mobile--desktop.jpg" />
                <img class="img-mobile" src="images/custom_2-sea_grove-desktop-mobile--mobile.jpg" />
            </div>
        </section>

        <section class="grid-work">
            <div class="col-work image">
                <img class="img-desktop" src="images/custom_3-momus-deskop-mobile--desktop.jpg" />
                <img class="img-mobile" src="images/custom_3-momus-deskop-mobile--mobile.jpg" />
            </div>
            <div class="col-work description">
                <p><span class="lead">Member portals.</span> Create exclusive web pages and features for large client
                    networks or small groups of partners. Special content, chatting forums, member-only resources and
                    downloads – just for you and your community.</p>
            </div>
        </section>
    </main>

    <site-footer></site-footer>
</body>

</html>