*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 1rem;
}

:root {
	--color-hex-dark: #111111;
	--color-hex-light: #cccccc;
	--color-hex-lighter: #efefef;

	--font-weight-normal: 400;
	--font-weight-bold: 500;
	--font-weight-bolder: 900;

	--font-style-normal: normal;
	--font-style-italic: italic;

	--font-family-base: chaparral-pro, serif;
	--font-family-primary: proxima-nova, sans-serif;

	--font-size-1-dt: 60px;
	--font-size-1-mb: 40px;

	--font-size-2-dt: 60px;
	--font-size-2-mb: 40px;

	--font-size-3-dt: 38px;
	--font-size-3-mb: 30px;

	--font-size-4-dt: 38px;
	--font-size-4-mb: 30px;

	--font-size-5-dt: 30px;
	--font-size-5-mb: 25px;

	--font-size-6-bold-dt: 26px;
	--font-size-6-regular-dt: 24px;
	--font-size-6-mb: 20px;

	/* base font size : 18px */
	--font-size-base: 1.125rem;
	--font-size-small: 18px;
}

body {
	margin: 0;
	line-height: 1.3;
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-normal);
	font-style: var(--font-style-normal);
	color: var(--color-hex-dark);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-height: 960px) {
	body.home {
		height: 100vh;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.h1-primary {
	font-family: var(--font-family-primary);
	font-size: var(--font-size-1-dt);
	font-weight: var(--font-weight-normal);
	font-style: var(--font-style-normal);
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.h1-secondary {
	font-family: var(--font-family-base);
	font-size: var(--font-size-1-dt);
	font-weight: var(--font-weight-normal);
	font-style: var(--font-style-normal);
}

.h2 {
	line-height: 1;
	font-family: var(--font-family-primary);
	font-size: var(--font-size-2-dt);
	font-weight: var(--font-weight-bolder);
	font-style: var(--font-style-normal);
}

.h3 {
	font-family: var(--font-family-base);
	font-size: var(--font-size-3-dt);
	font-weight: var(--font-weight-normal);
	font-style: var(--font-style-normal);
}

.h4 {
	font-family: var(--font-family-base);
	font-size: var(--font-size-4-dt);
	font-weight: var(--font-weight-normal);
	font-style: var(--font-style-italic);
}

.h5 {
	font-family: var(--font-family-primary);
	font-size: var(--font-size-5-dt);
	font-weight: var(--font-weight-normal);
	font-style: var(--font-style-normal);
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.h6-regular {
	font-family: var(--font-family-primary);
	font-size: var(--font-size-6-regular-dt);
	font-weight: var(--font-weight-normal);
	font-style: var(--font-style-normal);
}

.h6-bold {
	font-family: var(--font-family-primary);
	font-size: var(--font-size-6-bold-dt);
	font-weight: var(--font-weight-bolder);
	font-style: var(--font-style-normal);
}

@media (max-width: 767px) {
	.h1-primary,
	.h1-secondary {
		font-size: var(--font-size-1-mb);
	}

	.h2 {
		font-size: var(--font-size-2-mb);
	}

	.h3 {
		font-size: var(--font-size-3-mb);
	}

	.h4 {
		font-size: var(--font-size-4-mb);
	}

	.h5 {
		font-size: var(--font-size-5-mb);
	}

	.h6-regular,
	.h6-bold {
		font-size: var(--font-size-6-mb);
	}
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

p:last-child {
	margin-bottom: 0;
}

img {
	max-width: 100%;
}

svg {
	max-width: 100%;
	height: auto;
}

main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 12rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* SITE HEADER */

.site-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 5.625rem 1rem;
}

.site-link {
	display: flex;
}

.site-logo {
	width: 80px;
	height: 70px;
}

/* HOME */

.home-main {
	display: grid;
	align-content: center;
	row-gap: 6rem;
	margin: auto;
	padding: 10rem 1rem;
}

.home-title {
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.home-logo {
	display: flex;
	max-width: 500px;
	max-height: 143px;
	margin-left: auto;
	margin-right: auto;
}

.home-subtitle {
	text-align: center;
}

@media (max-width: 640px) {
	.home-title {
		margin-bottom: 1rem;
	}

	.home-logo {
		max-width: 320px;
		max-height: 92px;
	}
}

@media (min-height: 960px) {
	.home-main {
		height: 75%;
	}
}

/* WORK */

.work-main {
	display: grid;
	row-gap: 12rem;
}

.work-header,
.work-info {
	width: 85%;
	max-width: calc(1200px * 0.85);
	margin-left: auto;
	margin-right: auto;
}

.work-info {
	margin-top: -9rem;
	margin-bottom: -3rem;
}

.work-info-title {
	margin-bottom: 1.5rem;
}

.work-info-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 2rem;
}

.work-deliverable {
	margin-bottom: 1rem;
}

.work-deliverable:last-child {
	margin-bottom: 0;
}

.grid-work {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	column-gap: 2rem;
	align-items: start;
}

.image {
	display: flex;
	grid-column: span 3;
	position: relative;
	/* padding-top: 62.5%; */
}

.image > img {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.img-wide {
	aspect-ratio: 2/1;
}

.img-mobile {
	display: none;
}

.img-desktop {
	display: flex;
}

.description {
	display: flex;
	grid-column: span 1;
	margin-top: 2rem;
}

.description .lead {
	font-weight: bold;
}

@media (max-width: 640px) {
	.work-header,
	.work-info {
		width: 100%;
	}

	.image {
		order: 1;
		grid-column: span 4;
	}

	.img-mobile {
		display: flex;
	}

	.img-desktop {
		display: none;
	}

	.description {
		order: 2;
		grid-column: span 4;
	}

	.description .lead {
		font-weight: 900;
	}
}

/* HOSTING */

.hosting-main {
	display: grid;
	row-gap: 10rem;
}

.hosting-header {
	margin-bottom: 6rem;
	text-align: center;
}

.hosting-header-title {
	margin-bottom: 1rem;
}

.hosting-header-subtitle {
	max-width: 75%;
	margin: auto;
}

.hosting-plans {
	display: grid;
}

.matrix {
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	grid-template-rows: auto;
	column-gap: 1rem;
	align-items: stretch;
	padding-bottom: 2rem;
	-webkit-overflow-scrolling: touch;
}

.matrix .col-1 {
	margin-bottom: 1.5rem;
}

.matrix .col-2,
.matrix .col-3 {
	display: flex;
	align-items: baseline;
	justify-content: center;
	background-color: var(--color-hex-lighter);
}

.matrix .matrix-header {
	align-items: center;
	margin: 1rem auto;
	background-color: transparent;
	text-align: center;
}

.matrix-header-title {
	line-height: 1;
}

.enterprise-feature {
	display: grid;
	grid-template-columns: repeat(2, auto);
	row-gap: 1.25rem;
	align-items: baseline;
}

.matrix-feature-title {
	margin-bottom: 0.5rem;
}

.matrix-feature-description,
.enterprise-feature-title,
.enterprise-feature-description {
	width: calc(100% - (10px + 2rem));
}

.matrix .matrix-button {
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	background: linear-gradient(to bottom, #efefef 50%, transparent 50%);
}

.matrix .col-1.matrix-button {
	background: transparent;
}

.matrix .matrix-button .button {
	width: 80%;
	min-width: 100px;
	height: 100%;
}

.matrix .matrix-price {
	margin-top: 1rem;
	background-color: transparent;
	text-align: center;
}

.matrix .matrix-plan-description {
	margin-top: 1rem;
	background-color: transparent;
}

.matrix .matrix-plan-description-text {
	width: 80%;
	text-align: center;
}

.matrix-separator {
	width: calc(100% - 1rem);
	height: 3px;
	margin: 0;
	border: none;
	border-radius: 25px;
	background-color: var(--color-hex-lighter);
}

.enterprise-box {
	display: grid;
	row-gap: 3.75rem;
	justify-items: center;
	padding: 6rem;
	background-color: var(--color-hex-lighter);
}

.enterprise-box-title {
	text-align: center;
}

.grid-enterprise {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3.75rem;
}

.ent-feature {
	display: flex;
	align-items: baseline;
}

.ent-feature-info {
	width: calc(100% - 10px);
}

.enterprise-contact {
	display: grid;
	justify-items: center;
	gap: 1.25rem;
}

.enterprise-contact p {
	margin: 0;
}

.dot {
	display: inline-flex;
	width: 10px;
	height: 10px;
	margin-right: 1.25rem;
	border-radius: 50%;
	background-color: var(--color-hex-dark);
	transform: translateY(-2.5px);
}

.dot-none {
	background-color: transparent;
}

.hosting-box {
	display: flex;
	padding: 6rem 0rem;
	background-color: var(--color-hex-lighter);
}

.hosting-plan {
	width: 50%;
}

.hosting-plan-title {
	margin-bottom: 3.75rem;
	padding: 0 6rem;
	text-align: center;
}

.hosting-feature {
	display: flex;
	flex-direction: column;
	margin: 3.75rem auto;
	padding: 0 6rem;
}

.hosting-feature:last-child {
	margin-bottom: 0;
}

.hosting-feature-top {
	display: flex;
	align-items: baseline;
}

.hosting-feature-title,
.hosting-feature-description {
	width: calc(100% - (10px + 2rem));
}

.hosting-feature-bottom {
	display: flex;
	margin-top: 1.25rem;
}

.hosting-plan-description {
	margin-top: 3.75rem;
	text-align: center;
}

.hosting-plan-description-text {
	margin-bottom: 1.25rem;
}

.hosting-plan-form {
	display: flex;
	justify-content: center;
}

.hosting-amount {
	margin-top: 1.25rem;
}

.vertical-divider {
	width: 3px;
	background-color: #fff;
}

@media (max-width: 959px) {
	.hosting-box {
		flex-direction: column;
	}

	.hosting-plan {
		width: 100%;
	}

	.vertical-divider {
		width: calc(100% - 12rem);
		height: 3px;
		margin: 6rem auto;
	}
}

@media (max-width: 767px) {
	.hosting-feature {
		padding: 0 2rem;
	}

	.vertical-divider {
		width: calc(100% - 4rem);
	}

	.matrix {
		column-gap: 0.5rem;
	}

	.hosting-header-subtitle {
		max-width: 100%;
	}

	.matrix-header-title {
		font-size: 35px;
	}

	.matrix-feature-title {
		font-size: 16px;
	}

	.matrix-feature-description {
		width: 100%;
		font-size: 12px;
	}

	.matrix .matrix-button .button {
		width: 90%;
		height: 100%;
		padding: 1rem 0.5rem;
		border-radius: 15px;
		font-size: 14px;
	}

	.matrix .matrix-plan-description-text {
		width: 90%;
		font-size: 12px;
	}

	.matrix-amount {
		font-size: 16px;
	}
}

@media (max-width: 640px) {
	.grid-enterprise {
		grid-template-columns: 1fr;
	}

	.enterprise-box {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.dot {
		transform: none;
	}
}

/* BUTTON */

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	min-width: 240px;
	padding: 1rem 2rem;
	border: 2px solid;
	border-radius: 50px;
	font-size: var(--font-size-small);
	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-bold);
	font-style: var(--font-style-normal);
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	transition: all 0.25s;
}

.button-black {
	border-color: var(--color-hex-dark);
	background-color: var(--color-hex-dark);
	color: #fff;
}

.button-black:hover {
	background-color: #fff;
	color: var(--color-hex-dark);
	transition: all 0.25s;
}

.button-white {
	border-color: #fff;
	background-color: #fff;
	color: var(--color-hex-dark);
}

.button-white:hover {
	background-color: var(--color-hex-dark);
	color: #fff;
	transition: all 0.25s;
}

/* NAV */

.home-nav {
	display: grid;
	gap: 2rem;
	justify-items: center;
}

ul.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	display: flex;
	align-items: center;
	margin: 0.5rem 1rem;
}

ul.menu a {
	display: flex;
	align-items: center;
	font-family: var(--font-family-primary);
	font-size: var(--font-size-6-dt);
	font-weight: var(--font-weight-normal);
	font-style: var(--font-style-normal);
	text-decoration: none;
}

ul.menu .menu-item-text {
	display: inline-flex;
	align-items: center;
	margin-right: 0.5rem;
}

ul.menu .menu-item-icon {
	display: inline-flex;
	align-items: center;
}

ul.home-menu a {
	color: var(--color-hex-dark);
}

ul.footer-menu a {
	color: #fff;
}

/* FOOTER */

footer {
	display: grid;
	gap: 2rem;
	justify-items: center;
	padding: 6rem 1rem;
	background-color: var(--color-hex-dark);
	color: #fff;
	text-align: center;
}

@media (min-height: 960px) {
	.home-footer {
		height: 25%;
	}
}
